# openai大模型配置
OPENAI_API_KEY=your_api_key_here
OPENAI_BASE_URL=https://ws-hf6rt8uqd1bygr11.cn-beijing.maas.aliyuncs.com/compatible-mode/v1
MODEL_NAME=qwen3.7-plus

# langsmith配置
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_api_key_here
LANGSMITH_PROJECT="langgraph-learning"